@import "./../Variables/variables.scss";

.DrawContainer {
  width: 230px;
  height: 150px;
  border-radius: 18px;
  // padding: 20px 0;
  // border: 1px solid $textheaderColor;
  // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.btnText {
  font-family: $textFont;
}
